# Python virtual environments
.venv/
__pycache__/
*.pyc

# Local environments / Secrets
.env
.env.local
.env.*.local

# Databases
*.db
*.sqlite
*.db-shm
*.db-wal

# Frontend Node modules / Build folders
node_modules/
dist/
build/

# IDE files
.vscode/
.idea/
.DS_Store

# Temporary outputs / artifacts
output/*.png
output/*.jpg
backend/output/*.png
backend/output/*.jpg
.vercel
